{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rohan</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/rohan.jpg' %}">
                    <hr>
                    <h3>Hi I'm Rohan</h3>
                    <p><b>Mob</b> - <a href="tel:9891042988">9891042988</a> <br><b>Email</b> - <a href="mailto:rohankataria2000@gmail.com">rohankataria2000@gmail.com</a><br><b>Address</b> - Ashok Vihar, Gurgaon, Haryana <b>DOB</b> - 6 January 2000<br><b>LinkedIn</b> - <a href="https://www.linkedin.com/in/rohan-0745ab163/">Profile</a></p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100 border-info">
                    <h3>Experience</h3>
                    <h5>Greenwatt Global Ventures Pvt. Ltd.</h5>
                    <h6>IT Support & Tender Executive | June 2021 - Nov 2022</h6>
                    <ul>
                        <li>Promoted in December 2021 and then in September 2022</li>
                        <li>Web-scraped website to extract tender data to excel- Python</li>
                        <li>Interfaced product with laptop wirelessly - Arduino</li>
                        <li>Managing 139 product inventory - Excel</li>
                        <li>Designed 79 product catalogue - GIMP</li>
                        <li>Designed 15 festival posters for social media pages - Canva</li>
                        <li>Created 3D animated video of product in 1 month - Blender</li>
                        <li>Filled 47 tenders out of 254 - DSC</li>
                        <li>Handling invoices & e-way bills</li>
                    </ul>
                    <hr>
                    <h5>Green-watt Techno Solutions Pvt. Ltd.</h5>
                    <h6>Internship | Jan 2019 - July 2019</h6>
                    <ul>
                        <li>Contact companies and generate inquiries regarding LV/HV testing equipments</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100">
                    <h3>Education</h3>
                    <h6>NIT Kurukshetra <br> B.Tech in IT | CGPA - 6.9</h6>
                    <hr>
                    <h6>Sh. S.N. Sidheshwar Sr. Sec. Public School <br> Non-Medical (Class XII) CGPA - 8.3</h6>
                    <hr>
                    <h6>Sh. S.N. Sidheshwar Sr. Sec. Public School <br> Science (Class X) CGPA - 8.6</h6><br><br>
                    <h3>Technical Skills</h3>
                    <h6>Languages: C, C++, Python, HTML, CSS, JavaScript, Arduino, Java <br><br> Tools: VS Code, Pycharm, Android Studio, Blender, GIMP, CANVA, Microsoft Power BI, Excel, Word</h6>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100">
                    <h3>Projects</h3>
                    <h5>Portfolio</h5>
                    <ul>
                        <li>This user-friendly website has various sections for user to navigate easily. Sections like: Home, Services, Projects,About, Contact Info.</li>
                        <li>Tech Stack: HTML, CSS, JavaScipt</li>
                        <li><a href="">github link</a></li>
                    </ul>
                    <hr>
                    <h5>Earth Resistance Monitoring Device</h5>
                    <ul>
                        <li>The device monitors the real-time earth resistance value of earth pits.</li>
                        <li>Able to make a successful connection between the device and laptop using wires method as well as wireless method.</li>
                        <li>Tech Stack: Arduino.</li>
                        <li><a href="">github link</a></li>
                    </ul>
                    <hr>
                    <h5>Mobile Banking APP</h5>
                    <ul>
                        <li>Created an e-commerce platform for users to create their personal account where they can view current balance, fetch transaction history, etc.</li>
                        <li>Tech Stack: Android Studio, Java.</li>
                        <li><a href="">github link</a></li>
                    </ul>
                    <hr>
                    <h5>Bank Management System</h5>
                    <ul>
                        <li>Created a GUI for users to create their personal account where they can view current balance, fetch transaction history, etc.</li>
                        <li>Tech Stack: Python, PAGE.</li>
                        <li><a href="https://github.com/RovishKataria/Bank-Management-System.git">github link</a></li>
                    </ul>
                    <hr>
                    <h5>Bank System GUI</h5>
                    <ul>
                        <li>Created a GUI for users to create their personal account where they can view current balance, fetch transaction history, etc.</li>
                        <li>Tech Stack: Python, PAGE.</li>
                        <li><a href="">github link</a></li>
                    </ul>
                    <hr>
                    <h5>Hotel Management System</h5>
                    <ul>
                        <li>Created a GUI system for hotel staff to enter the details of a guest (cheking-in, checking-out) and displaying a list of all guests in the hotel.</li>
                        <li>Tech Stack: Python.</li>
                        <li><a href="">github link</a></li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100"></div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>